{% if previous_page or next_page %}
  <nav aria-label="Page switching block">
    <ul class="pagination justify-content-center">
      {% if previous_page %}
        <li class="page-item">
          <a class="page-link" aria-label="Go to the previous page" href="{{ query_string }}page={{ previous_page }}">
            <span aria-hidden="true">&lt;</span>
          </a>
        </li>
      {% endif %}
      {% for page in pages %}
        {% if page != current_page_number %}
          <li class="page-item">
            <a class="page-link" href="{{ query_string }}page={{ page }}" aria-label="Go to the page number {{ page }}">{{ page }}</a>
          </li>
        {% else %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="{{ query_string }}page={{ current_page_number }}">{{ current_page_number }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if next_page %}
        <li class="page-item">
          <a class="page-link" aria-label="Go to the next page" href="{{ query_string }}page={{ next_page }}">
            <span aria-hidden="true">&gt;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% else %}
  <div style="margin-top: 1rem" aria-hidden="true"></div>
{% endif %}